In [3]:
print("Hello World")

Hello World

In [7]:
# Solving another problem and finding How many tiles are needed and how many are left ?
# firstly we need to calculate the areas of two rooms 
# first room area:- 
first_width = int(input("Enter the width: "))
first_height = int(input("Enter the heigth: "))
cal_first_area = first_width * first_height
print("The area of first room is: ",cal_first_area)

# second room area:-
second_width = int(input("Enter the width: "))
second_heigth = int(input("Enter the heigth: "))
cal_second_area = second_width * second_heigth
print("The area of second room is: ",cal_second_area)

# Now let's calculate the total area:-
total_area = cal_first_area + cal_second_area
print("The total area is:", total_area)

# As in the question given each tiles is 1ft*1ft so 
# we can consider that it is of 1 sqft
# So the total number of tiles needed is equals to the 
# total area of the two rooms
print("The tiles are needed: ",total_area)

# Now we will solve the second problem :-
# As we know that we bought 17 packages each containes 6 tiles
# So the total number of tiles are :- 
number_of_packages = int(input("Enter the number of packages: "))
number_of_tiles = int(input("Enter the number of tiles present in each packages: "))

total_no_tiles = number_of_packages * number_of_tiles
print("The total number of tiles are: ",total_no_tiles)

# So now if we need to find the number of tiles left:-
total_no_tiles_left = total_no_tiles - total_area
print("The tiles are left over: ",total_no_tiles_left)

Enter the width: 4
Enter the heigth: 11
The area of first room is:  44
Enter the width: 5
Enter the heigth: 9
The area of second room is:  45
The total area is: 89
The tiles are needed:  89
Enter the number of packages: 17
Enter the number of tiles present in each packages: 6
The total number of tiles are:  102
The tiles are left over:  13

In [8]:
# Creating a variable named rent 
rent = 1700

In [9]:
# Assigning variable
a = 12
b = a
print(b)

12

In [14]:
# Importing math function for using the sqrt function
import math

In [15]:
# Finding the length of the vector with the starting coordinates and the ending coordinates
first_coordinate = int(input("Enter the first value: "))
second_coordinate = int(input("Enter the second value: "))
third_coordinate = int(input("Enter the third value: "))

length = math.sqrt(first_coordinate**2 + second_coordinate**2 + third_coordinate**2)
print(length)

Enter the first value: 4
Enter the second value: 5
Enter the third value: 6
8.774964387392123

In [16]:
rent = 1700
rent = 2000
result = rent + 700
print(result)

2700

In [24]:
# Managing my finances using python:
# The amount of money in your bank account is:-
amt = 1.2e6
# money recieved every year in form of salary
salary = 9.3e5

# Converting the total amount and the money received
amt = 1.2 * 10 ** 6
print("The total amount you have in your bank is:", amt)

salary = 9.3 * 10 ** 6
print("The money receive you get after one year:", salary)

# After tax paid to the government 
after_tax = (salary * 30) / 100
salary = salary - after_tax
print("After deducting the 30% from the salary: ",salary)

# Adding the salary to the bank account
amt = amt + salary
print("After adding the salary to the bank account the amount is: ",amt)

# Incresing the anount by 4% that I received from the bank interest
bank_interest = (amt * 4) / 100
amt = bank_interest + amt
print("After adding the 4% interest received from the bank:", amt)

# Rent amount has to substract from the bank amount :- 
personal_rent = 1.2e5
# Converting ....
personal_rent = 1.2 * 10 ** 5
print(personal_rent)
# Taking off the value from the account
amt = amt - personal_rent
print("The amount after left in the bank account after paying the rent:", amt)

The total amount you have in your bank is: 1200000.0
The money receive you get after one year: 9300000.0
After deducting the 30% from the salary:  6510000.0
After adding the salary to the bank account the amount is:  7710000.0
After adding the 4% interest received from the bank: 8018400.0
120000.0
The amount after left in the bank account after paying the rent: 7898400.0

In [26]:
# Integers and float
a = 54
b = 54.12
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [29]:
# Converting a integer into float
i = int(input("Enter the int number: "))
print("The result will be in float:", float(i))

Enter the int number: 12
The result will be in float: 12.0

In [31]:
h = print(0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23)
h == 6.9

6.900000000000006

False

In [33]:
# What happen if you divide by o in python
# print(4 / 0)

In [55]:
# Is mumbai more dense than Delhi ?
mum_population , mum_area = 20411000, 4355
del_population , del_area = 30291000, 1484

mum_fancisco_pop_density = mum_population / mum_area
del_de_janeiro_pop_density = del_population / del_area

# Printing if Mumbai is denser than Delhi or not
print(mum_fancisco_pop_density > del_de_janeiro_pop_density)

False

In [35]:
# Strings
motto = "Learn | Code | Complete | Intern"
print(motto)

Learn | Code | Complete | Intern

In [36]:
# Showing the string type
print(type(motto))

<class 'str'>

In [37]:
# Concatenation in the strings
print("hello" + "world")

helloworld

In [38]:
print("hello" + " " + "world")

hello world

In [39]:
word = "hello"
print(word * 5)

hellohellohellohellohello

In [41]:
# word_1 = "hello"
# word_2 = "world"

# print(word_1 / word_2)

In [42]:
world_length = len("ShapeAI")
print(world_length)

7

In [44]:
# TODO: Fix this string!
gandhi_quote = "If you don't ask, you don't get it"

In [45]:
print(gandhi_quote)

If you don't ask, you don't get it

In [54]:
# string concatination and length function
given_name = "Rahul"
middle_name = "Shastri"
family_name = "Mishra"

# Firstly we have to add all the three names:-
full_name = given_name + " " + middle_name + " " + family_name
print("The full name is: ",full_name)

# Calculating the length of the string 
name_length = len(full_name)

print(name_length)

# Checking that the name will fit the driving license character limit or not
driving_license_character_limit = 28
print(name_length <= driving_license_character_limit)

The full name is:  Rahul Shastri Mishra
20
True

In [56]:
# Types and Types Conversion
print(type(75))
print(type(74.12))
print(type("75"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [59]:
marks = 98
subject = "coding"
semester = "first"

result = "I scored " + str(marks) + " in " + subject + " during my " + semester + " semester ."
print(result)

I scored 98 in coding during my first semester .

In [61]:
# We can also create as float from string
marks = "18"
print(type(marks))

marks = float(marks)
print(type(marks))

<class 'str'>
<class 'float'>

In [64]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"

total_sales = (float(mon_sales) + float(tues_sales) + float(wed_sales) + float(thurs_sales) + float(fri_sales))
print("This week's total sales: " + str(total_sales))
# print(type(total_sales))

This week's total sales: 529.0