In [2]:
# Sets
# 1. Python Data_Structure
# 2. {}
# 3. Unordered
# 4. Unchangable -> inbuild
# 5. It doesnot support duplicacy

In [3]:
sett = {1,2,3,4,56,1}

In [4]:
sett

{1, 2, 3, 4, 56}

In [5]:
tuple = (1,2,3,4,5,6,7,8)

In [7]:
# tuple(tuple)

In [8]:
seti = {11,3,7,1,8}

In [9]:
seti

{1, 3, 7, 8, 11}

In [10]:
setii = {1,2,3,4,5,4,1,2,3,2,1}

In [11]:
print(setii)

{1, 2, 3, 4, 5}

In [14]:
# Acess the element in the set
seti = {"apple" , "mangoes" , "cherries" , "Cherries"}

In [15]:
seti

{'Cherries', 'apple', 'cherries', 'mangoes'}

In [16]:
type(seti)

set

In [22]:
type_casting = list(seti)

In [23]:
type(type_casting)

list

In [24]:
type_casting[0]

'mangoes'

In [25]:
type_casting

['mangoes', 'apple', 'cherries', 'Cherries']

In [26]:
type_casting[0] = "Banana"

In [27]:
type_casting

['Banana', 'apple', 'cherries', 'Cherries']

In [28]:
seti = list(type_casting)

In [29]:
seti

['Banana', 'apple', 'cherries', 'Cherries']

In [30]:
# Conditional Statement
"Banana" in seti

True

In [31]:
# CRUD operation

In [32]:
set_a = {"apples","bananas","mangoes"}
set_b = {"oranges"}

# Adding up the two sets :-
# extend , +

set_a.update(set_b)

In [33]:
set_a

{'apples', 'bananas', 'mangoes', 'oranges'}

In [35]:
set_a.add("grapes")
# set_c = {"grapes","kiwi"}

In [36]:
set_a.add("kiwi")

In [37]:
set_a

{'apples', 'bananas', 'grapes', 'kiwi', 'mangoes', 'oranges'}

In [38]:
set_a.remove("oranges")

In [39]:
set_a

{'apples', 'bananas', 'grapes', 'kiwi', 'mangoes'}

In [42]:
set_a.discard("grapes")
# Will not give an error after removing the element

In [43]:
set_a

{'apples', 'bananas', 'kiwi', 'mangoes'}

In [44]:
set_a.clear()

In [45]:
set_a

set()

In [63]:
set_a = {"apple","bananas","cherries"}
set_b = {"google","microsoft","apple"}

In [66]:
# Union function of the set
# intersection function of the set
# issubset function of the set
set_c = set_a.union(set_b)
set_c = set_a.issubset(set_b)
set_c = set_a.intersection(set_b)
set_c = set_b.difference(set_a)

In [67]:
set_c

{'google', 'microsoft'}

In [68]:
# Conditional Statements

In [71]:
winner = "Germany"

if winner == "England":
    print("5000 extra pocket money")
else:
    print("Chores")

Chores

In [78]:
price = int(input("Enter the price: "))

if price < 100:
    print("Buy some snakes .... ")
elif price == 100:
    print("Purchase the RC cards")
elif price > 1500:
    print("Purchase the PS5")
else:
    print("Cry")

Enter the price: 2000
Purchase the PS5

In [79]:
stri = "Monday"

In [80]:
stri == True

False

In [84]:
# In try except help to not showing the error and 
# go to except block
try:
    if stripop:
        print("hello world")
except:
    print("nothing")

nothing

In [85]:
listi = ["Mr Bean","Tom & Jerry","Bob the Builder","Richie Rich"]

In [93]:
if "Noddy" in listi:
    print("Yes it is")
elif "Oswald" not in listi:
    listi.append("Oswald")
else:
    listi.clear()

In [94]:
listi

[]

In [100]:
inp = input("Enter name: ")

if inp.isnumeric():
    print("Sorry, try again")
elif inp.isalpha():
    print("You are good to go")
elif inp.isalnum():
    print("Sorry boss")
else:
    print("Drop off from the collage")

Enter name: jeet@gmail123.com
Drop off from the collage