In [16]:
# String and its basic functions :-
string = "This is a string"

In [17]:
print(string)

This is a string

In [18]:
type(string)

str

In [19]:
string1 = "This is an another string"

In [20]:
print(string1)

This is an another string

In [21]:
# Joining the two strings together
joining_string = string + " " + string1

In [22]:
print(joining_string)

This is a string This is an another string

In [23]:
# Finding the length of the string
print("The length of the string is:", len(string))

The length of the string is: 16

In [25]:
# Capitalizing the string
cap_string = "hello world"
print("After capitalizing the string:", cap_string.capitalize())

After capitalizing the string: Hello world

In [32]:
# startswith will return a binary value if the condition is true or false
# Remember python is case sensitive 
proving_string = "Today is Monday"

In [33]:
print("Result:", proving_string.startswith('T'))

Result: True

In [36]:
# Endswith will also return a binary value if the condition is true or false
print("Result:", proving_string.endswith('a'))

Result: False

In [37]:
# String count function will return you the charecter and its occurence wile counting it
print("The character counted:", proving_string.count('o'))

The character counted: 2

In [39]:
# center will make the string in center position as your entered limit
proving_string.center(28,'*')

'******Today is Monday*******'

In [40]:
# Taking two numbers from the users and performing the following operations '(a+b)-(-a)'
first_number = int(input("Enter the first number: "))
second_number = int(input("Enter the second number: "))

operation = (first_number + second_number)-(-(first_number))
# Printing the number
print("The result is:", operation)

Enter the first number: 18
Enter the second number: 84
The result is: 120

In [45]:
stri = "Snake_case"
print(stri*9)

Snake_caseSnake_caseSnake_caseSnake_caseSnake_caseSnake_caseSnake_caseSnake_caseSnake_case

In [46]:
# Slicing is the technique where we can fetch a perticular area from the entire string
figure_out = "Here is the demo string you can figure out with"

In [50]:
slicing = figure_out[2:14]

In [51]:
print(slicing)

re is the de

In [52]:
# String replace function will take a existing string and replace with the given new string
email = "DEAR PROFESSOR,............"
# Now here we have a string and if we want to change the capital PROFESSOR to lower case we need to use replace

In [53]:
replaced = email.replace("PROFESSOR","professor")

In [54]:
print(replaced)

DEAR professor,............

In [55]:
# Similarly there is upper and lower functions also
demo_string = "Python is a danger programming language and it is really awsome to know"

In [56]:
lower_string = demo_string.lower()
print(lower_string)

python is a danger programming language and it is really awsome to know

In [57]:
upper_string = demo_string.upper()
print(upper_string)

PYTHON IS A DANGER PROGRAMMING LANGUAGE AND IT IS REALLY AWSOME TO KNOW

In [58]:
# Type convertion is a technique to convert a datatype into some other datatype
# Taking two numbers as a string and adding the both numbers and returning the result in string again
num_one = input("Enter the first number: ")
num_two = input("Enter the second number: ")

# Converting the type to integer
num_one = int(num_one)
num_two = int(num_two)

# Operation
adding_nums = num_one + num_two

# Converting this again in string
adding_nums = str(adding_nums)

# Printing the results
print("The result is: ",adding_nums)

Enter the first number: 12
Enter the second number: 12
The result is:  24

In [60]:
type(adding_nums)

str

In [63]:
# Lists and its function
# CRUD operations which means create , read , update , delete operations
# Creating a list :-
my_list = ["books",
           "cars",
           "computer",
           "cricket",
           "movies"
          ]

In [65]:
# Reading the list
print(my_list)

['books', 'cars', 'computer', 'cricket', 'movies']

In [66]:
type(my_list)

list

In [67]:
# We can access the list's elements by calling the index numbers
my_list[2]

'computer'

In [68]:
# Python has a superb feature of negative indexing
my_list[-1]

'movies'

In [69]:
# If I have a list inside a list basically nested list how can we access the data lets see
nested_list = [[1,2,3,4],[5,6,7,8]]

In [70]:
# So I have a nested list now we will try to access the data 6 so firstly what we have to do ?
nested_list[1]

[5, 6, 7, 8]

In [71]:
# So nested_list[1] helps us to access the 1th index list and now we will give the index number of 6
print(nested_list[1][1])

6

In [72]:
my_list

['books', 'cars', 'computer', 'cricket', 'movies']

In [74]:
# List also support slicing the data
my_list[2:5]

['computer', 'cricket', 'movies']

In [75]:
my_list

['books', 'cars', 'computer', 'cricket', 'movies']

In [77]:
# Now if we want to insert a new element into the list we will do
my_list[2] = "Hrithik"

In [78]:
my_list

['books', 'cars', 'Hrithik', 'cricket', 'movies']

In [79]:
# Append function is also applied in list
my_list.append("bikes")

In [80]:
my_list

['books', 'cars', 'Hrithik', 'cricket', 'movies', 'bikes']

In [81]:
# Now we have the insert function which helps to insert the value in anywhere of the list
my_list.insert(3,"speaker")

In [82]:
my_list

['books', 'cars', 'Hrithik', 'speaker', 'cricket', 'movies', 'bikes']

In [83]:
# Extends is use for joining or merging the two list together
list_one = ["This","is","a","list"]
list_two = ["This","is","another","list"]

In [86]:
list_one.extend(list_two)

In [87]:
list_two

['This', 'is', 'another', 'list']

In [89]:
list_one # So we can see that the two list combined together

['This', 'is', 'a', 'list', 'This', 'is', 'another', 'list']